settings.ini

*/.idea/*

*/Connection.class.php*

*/Connection.class.php

*/Settings.class.php*

*/Settings.class.php

src/collection-tools/fall2015/spring2016intent/core/.svn/text-base/Connection.class.php.svn-base

src/collection-tools/fall2015/spring2016intent/core/.svn/text-base/Settings.class.php.svn-base

src/collection-tools/fall2015/spring2016intent/core/Settings.class.php

src/collection-tools/spring2017/workintent/core/Settings.class.php

src/collection-tools/fall2015/spring2016intent/.remote-sync.json

src/collection-tools/spring2017/workintent/.remote-sync.json

*/savePQ.php

*.svn-base

src/collection-tools/fall2015/spring2016intent/core/Connection.class.php

src/collection-tools/spring2017/workintent/core/Connection.class.php

src/collection-tools/spring2017/workintent/services/savePQ.php

src/collection-tools/fall2015/spring2016intent/services/savePQ.php

src/collection-tools/fall2015/spring2016intent/editUser.php

src/collection-tools/fall2015/spring2016intent/instruments/intent_old.php

src/collection-tools/fall2015/spring2016intent/instruments/intent.php

src/collection-tools/fall2015/spring2016intent/instruments/transition_intent.php

src/collection-tools/fall2015/spring2016intent/instruments/intent-10-19-15.php

src/collection-tools/spring2017/workintent/instruments/intent.php

src/collection-tools/fall2015/spring2016intent/getUsers.php
