body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
}

/* Inset, by Dan Eden
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
*/

/* Gradient color1 - color2 - color1 */ hr{ border: 0; height: 1px; background: #333; background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); background-image: -moz-linear-gradient(left, #ccc, #333, #ccc); background-image: -ms-linear-gradient(left, #ccc, #333, #ccc); background-image: -o-linear-gradient(left, #ccc, #333, #ccc); }


h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #0492B5;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #0492B5;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #0492B5;
}

coag-header{
    font-family: Tahoma, Geneva, sans-serif;
    color: #0492B5;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}

h5{
    font-family: Arial, Helvetica, sans-serif;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
}
