@charset "UTF-8";
/* CSS Document */

body {
	
	font-weight: normal;
	background: #FFFFFF;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	color: #000000;
	background-color:lightgray;
	padding-top:10px;
	padding-bottom:10px;
}

.style1 {
	color: #000000;
	font-weight: normal;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;

}

.style2 {
	color: #000000;
	font-weight: normal;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666600;
}
.footer {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.table
{
	font-family		: Geneva, "Verdana", "Arial", "Helvetica", "sans-serif";
    font-size: 10pt;
    border: dotted 1px #C58144;
}
.hr-dashed
{
	position: relative;
	padding: 10px;
	margin: 0px auto;
	top: 10px;
	left: 20px;
	width: 90%;
	border: 2px dashed #669966;
}
